#pageTitle {
    margin: auto;
}

body{
    /* background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-size: 30%; */
    background-color: #999999;;
}

h4{
    text-align: center;
}